.calculator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;


  &.dark-theme {
    background-color: #333;
    color: #fff;

    .result {
      background-color: #444;
      border: 1px solid #ccc;
    }

    .buttons {
      button {
        background-color: #444;

        &:hover {
          background-color: #555;
        }

        &:active {
          background-color: #222;
        }
      }
    }

    .theme-toggle {
      background-color: #444;
      color: #fff;

      &:hover {
        background-color: #555;
      }

      &:active {
        background-color: #222;
      }
    }
  }

  .result {
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    button {
      padding: 10px;
      background-color: #ccc;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      .full-width{
        width:;
      }

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color:#bbb;
      }
    }
  }

  .theme-toggle {
    margin-top: 10px;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #bbb;
    }
  }
}